extends ../layouts/layout

block conteudo
    h1 Tags para listagem
    br
    br

    a(href="http://www.google.com", target="_blank") google

    ol
        li primeiro
        li segundo
        li terceiro

    ul
        li banana
        li uva
        li pera

    table(style="border: 1px solid black;")
        tr
            th Frutas
            th Preço
        tr
            td Banana prata
            td R$ 2.00
        tr
            td Uva
            td R$ 5.00
        tr
            td Pera
            td R$ 4.00
    br
    br
    
    img(src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg", alt="gatinho")