extends ../layouts/layout

block conteudo
    h1 Tags de layout
    section#posts
    article
        h3 Aprenda HTML
        a(href='http://teste') link
    article
        h3 Aprenda CSS
        a(href='http://teste') link
    article
        h3 Aprenda JavaScript
        a(href='http://teste') link
    aside(style='position: absolute; right: 30px; top: 200px;')
        h4 Lista de sites relacionados
        ul
            li Parceiro 1
            li Parceiro 2
            li Parceiro 3
