header
    section
        nav
            ul
                li
                    a(href="index.html") Tags de Formatação
                li
                    a(href="lista.html") Tags de Lista
                li
                    a(href="forms.html") Tags de Formulario
                li
                    a(href="layout.html") Tags de Layout
        hr